@import 'custom';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'typography';
@import '../../node_modules/aos/dist/aos.css';

body {
  font-family: 'Poppins', sans-serif;
}

.features,
.bottom-banner {
  position: relative;
}

.features::before,
.bottom-banner::before {
  content: '';
  position: absolute;
  background: url('../png/doodle-bg.png') repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
  z-index: -1;
  filter: blur(1);
}
